<div class="sidebar-backdrop" [class.is-visible]="layout.isMobileSidebarOpen()" (click)="layout.closeMobileSidebar()">
</div>

<aside class="sidebar" [class.is-collapsed]="layout.isSidebarCollapsed()"
  [class.is-open]="layout.isMobileSidebarOpen()">
  <div class="sidebar__brand">
    <img class="sidebar__brand-name sidebar__brand-logo" src="/brand/sn-devis-logo.png" alt="SN Devis" />
    <img class="sidebar__brand-symbol" src="/brand/sn-devis-symbol.png" alt="SN Devis" />
  </div>

  <nav class="sidebar__nav">
    <a *ngFor="let item of navItems()" class="sidebar__link" [routerLink]="item.route" routerLinkActive="is-active"
      (click)="onNavigate()">
      <i class="bi" [ngClass]="item.icon"></i>
      <span class="sidebar__link-label">{{ item.label }}</span>
    </a>
  </nav>
</aside>